#simple-modal-description{
    width: 200px;
    border:2px solid gainsboro;
    text-align: center;
    padding:10px 0;
    cursor: pointer;

}
#modal__id{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#simple-modal-description:hover{
    opacity: 0.8;
    background-color: whitesmoke;
}
.showGoods__order{
    margin:0 auto;
    color:rosybrown;
}
#modal__id img{
width: 200px;
    margin-bottom:30px;
}