.login {
    min-height: 70vh;
}

.login__form {
    font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    position: relative;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 420px;
    padding: 40px;
    margin: 0 auto;
}

.login__form input {
    font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
    line-height: 1.3;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0;
    color: black;
    border: 2px solid #d5d5d5;
    font-size: 16px;
    padding: 14px 25px 15px;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
}

.login-button__wrap {
    text-align: center;
}

.login__form input::placeholder {
    color: lightgray;

}

@media (max-width: 576px) {
    .login__form {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .login__form {
        width: 250px;
    }

    .login__form input {
        padding: 8px 25px 8px;
        font-size: 14px;
    }
}